<header class="app-header">
    <img src="assets/logo/cubes.png" alt="Logo" class="logo">
    <h1>Demo Viewer</h1>
  </header>

  <nav class="control-panel">
    <button (click)="toggleMenu()" class="menu-toggle">☰ Menu</button>
    <div class="menu-content" [class.open]="menuOpen">
      <button (click)="switchModel()">Changer de modèle</button>
      <button (click)="highlightSelected()">Mettre en surbrillance</button>
      <button (click)="resetCamera()">Réinitialiser la caméra</button>
    </div>
  </nav>
  

<app-viewer3d></app-viewer3d>
<app-info-panel></app-info-panel>

